@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

body {
  font-size: 20px;
  background-color: #09131b;
  color: #fff;
  font-family: 'Sedgwick Ave Display', cursive;
}
