.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header a {
  color: #fff;
  margin: 0 10px;
  transition: color 0.4s ease-in-out;
  padding: 20px;
}

.header a:hover {
  color: #c353c3;
}
